<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

	<servlet>
		<servlet-name>HelloHessian</servlet-name>
		<servlet-class>com.caucho.hessian.server.HessianServlet</servlet-class><!-- RPC HessianServlet处理类 -->
		<init-param>
			<param-name>home-class</param-name><!-- 远程服务实现类 -->
			<param-value>secondriver.hessian.server.bo.HelloHessianImpl</param-value>
		</init-param>
		<init-param>
			<param-name>home-api</param-name><!-- 远程服务接口 -->
			<param-value>secondriver.hessian.api.HelloHessian</param-value>
		</init-param>
	</servlet>

	<servlet>
		<servlet-name>PostDataServlet</servlet-name>
		<servlet-class>secondriver.hessian.server.servlet.PostDataServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>HelloHessian</servlet-name>
		<url-pattern>/HelloHessian</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>PostDataServlet</servlet-name>
		<url-pattern>/PostDataServlet</url-pattern>
	</servlet-mapping>

</web-app>